sudo: required
dist: trusty
language: ruby

before_install:
before_install:
- gem install asciidoctor -v 1.5.2
- gem install tilt
- sudo pip install git+https://github.com/gitenberg-dev/gitberg
- sudo pip install pillow
- sudo pip install cssutils
- sudo pip install docutils
- sudo pip install roman
- sudo pip install git+https://github.com/gitenberg-dev/pg-epubmaker
script:
- VERSION=`ruby -e "require 'yaml'; meta = YAML.load_file('metadata.yaml'); puts meta['_version'];"`
- git clone https://github.com/gitenberg-dev/asciidoctor-htmlbook.git
- sudo pip install -r asciidoctor-htmlbook/gitberg-machine/requirements.txt

- /usr/bin/python -c "from gitenberg import travis; travis.build_epub()"
- ebook-convert book.epub book.mobi
- xvfb-run ebook-convert book.epub book.pdf
branches:
  only:
  - master
notifications:
  webhooks:
    urls:
      - https://unglue.it/api/travisci/webhook
    on_success: always
    on_failure: never
    on_start: never
deploy:
  skip_cleanup: true
  provider: releases
  api_key:
    secure: X3xaB8/vBpMa2IGAmFY3jlN8sf4S2Co+oUo6d4XRhk5lbzbIu+oQw0nfpGF8TRw1OfGvjtmKYe2cjZlCQPYRdFUzsDzfMLXYM2vgT3n1rxaiIKfm3dnpVDYjWbRYCiobiAKLQ3Cpz7oFMO7oYHh2t7qiu7hsiOHfXF9fesEl2qa5FFAdH6LC3u17avCtHUxpIvnfR4uL56j34iDWc1XncxBADpnzZoM1/py0pmx4/24MCSZ2ckkLlOPQdGlzNJKmOHTYOxi8xVRt1W+3SacjinTmzLWj8RRarAWQTKdr226o+vKBBph8ggFEd+pyQRFd8IIH+33qvayvVcTlM944aWpMSUC5XxxjBcgiJc/6Is3x6h/Nttx22m3UQ7b0VsZ67hhd5O7GWxcPdD5iaAdFZLVPHWT2d4W7lsav3udk+sr9D9my4JXcMlTRimMTPGPlRc+WRu4D5OsetmFPmUEG4qn5VRwAoNr9Zq2VCTnvUvu8dFJdEb2PR/uKLA6I/GoXn2y0Dqcd21fv87O/O/528wTbpJO+epaR9TmtfxNYC8hKWV+m46o9EwQWXOCxe1LrXj6gdPRKepTq3B9XHGftqbwEG/C0eMt+gq1zaoEwDpvLVpYQBCjrkXzBHESSuxLh295Lt7mIurYIHmU/kcE4R8TrGhvEORwwEPrLJ+MSY+w=
  file:
    - book.epub
    - book.mobi
    - book.pdf
  "on":
    repo: GITenberg/Alaeddin-and-the-Enchanted-Lamp_5100
addons:
  apt:
    packages:
    - xsltproc
    - xvfb
    - calibre
    - python-pip
    - git
    - python-dev
    - libjpeg-dev
    - libpng-dev
    - libfreetype6
    - libfreetype6-dev
    - zlib1g-dev
    - python-lxml
    - libxml2-dev
    - libxslt1-dev
    - tidy